*{padding: 0px;margin: 0px;}

::selection
{
background: none;
}
::-moz-selection
{
background: none;
}
#timeLine{width: 1500px;height: 330px;margin: 30px;border:1px solid; overflow: hidden;position:relative;}

.baseLine{position: absolute;height: 50px;border-left: 1px solid;}
.baseTxt{position: absolute;top:30px;padding:5px;}
.majorLine{position: absolute;top:50px;height:50px;border-left: 1px solid red;}
.majorTxt{position: absolute;top:80px;padding:5px;font-size: 12px;}

.item_block{width:80px;height:50px; position: absolute;border: 1px solid red;top:30px;background: white;cursor: pointer;}
.item_block_on{
    background: #f60;z-index:10;
}
.items-warp{top:10px;height: 150px;overflow: hidden;}
.axis-warp{top:180px;height:120px;font-size: 12px;}
.axis-border{top:180px;border-top:2px solid black;width: 10000px;left:-5000px;position: absolute;}
.majorTxt{width:150px;}
/*
slider
*/

#slider{overflow: hidden;position: relative;margin: 50px 350px;border: 1px solid;width: 1000px;height: 320px;}
.slider-content{width: 1000px;height: 320px;}

.leftBar{width: 50px;height: 100px;background: yellow;left:0px;top:100px;position: absolute;color:red;display: none;z-index: 10;}
.rightBar{width: 50px;height: 100px;background: yellow;right:0px;top:100px;position: absolute;color:red;display: none;z-index: 10;}
.barOn{background: blue;}
.slider-content li{display: block;padding: 10px;width: 980px;height: 300px;}
.slider-content li img{float: left;height: 240px;width: 360px;margin: 0px 20px 20px 0px;}
.slider-content li h3{text-align: center;}
.slider-content li h4{font-size: 12px;text-align: right;font-weight: normal;line-height: 30px;color: #787878;}
.slider-content .des{text-decoration: 2em;line-height: 32px;}